body {
    background-color: lightgreen;
}

@media only screen and (max-width: 1024px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-color: crimson;
    }
}

@media only screen and (max-width: 320px) {
    body {
        background-color: darkcyan;
    }
}

div * {
    background-color: yellow;
}

a:link {
    color: purple;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
    color:yellow;
}

#para1 {
    text-align: center;
    color: green;
}

#formulario1 {
    text-align: left;
    border: 4px solid black;
    width : 300px;
    margin: 0;
    background-color: white;
    color: black;

    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;

}

p.center{
    text-align: center;
    color:red;
}
.center{
    text-align: center;
    color: red;
}

.large{
    font-size: 40px;
}

div p{
    color: lawngreen;
    background: darkblue;

}

[target =_blank] {
    background-color: yellow;
}

#conten {
    height: 100px;
    max-width: 500px;
    background-color: powderblue;
}

#primera {
    width: 100%;
    display: block;
    border: 5px solid red;
}

#head1 {
    text-transform: uppercase;
    text-align: center;
    color: blue;
}

#head2 {
    text-transform: lowercase;
    text-align: left;
}

#head3 {
    text-transform: capitalize;
    text-align: right;
}

#justf {
    text-align: justify;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 10px;
}

#divtab {
    overflow-x: auto;
}

#tablona {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}


input[type=text] {
    width: 90%;
    padding: 8px;
    margin: 8px;
    border: 2px solid gray;
    border-radius: 4px;
    color: blue;
}

input[type=text]]:focus {
    background-color: #f1f1f1;
    border: 3px solid red;
}

#primtxt {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin: 8px;
    border: 2px groove gray;
    border-radius: 5px;
    background-color: #fdfdfd;
    font-size: 24px;
    resize: none;
}

#primerselec {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 20px;
}

input[type=button], input[type=submit], button {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

span {
    display: block;
}
div.fixed {
    position: fixed;
    width: 300px;
    border: 3px solid #73AD21;
    right: 0px;
    bottom: 0px;
    padding: 5px;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 300px;
    padding: 5px;
    background-color: #CAE8CA;
    border: 2px solid #4CAF50;
}

#caja {
    background-color: lightgray;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

div.center {
    margin: auto;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
